<md-bottom-sheet class="md-list md-has-header">
  <md-subheader>프로필 사진 설정</md-subheader>
  <md-list>
    <md-item>
      <md-button aria-label="사진" ng-click="changeProfileImage('CAMERA')">
        <md-inline-list-icon icon="{{item.icon}}"></md-inline-list-icon>
        <span class="md-inline-list-icon-label">사진에서 찾기</span>
      </md-button>
    </md-item>
    <md-item>
      <md-button aria-label="앨범" ng-click="changeProfileImage('GALLERY')">
        <md-inline-list-icon icon="{{item.icon}}"></md-inline-list-icon>
        <span class="md-inline-list-icon-label">앨범에서 찾기</span>
      </md-button>
    </md-item>
    <md-item>
      <md-button aria-label="취소" ng-click="Cancel()">
        <md-inline-list-icon icon="{{item.icon}}"></md-inline-list-icon>
        <span class="md-inline-list-icon-label">취소</span>
      </md-button>
    </md-item>
  </md-list>
</md-bottom-sheet>
