<md-content>
	<div class="full-screen intro" layout="column" layout-align="center center">
		<div class="title">
			<h1>도래솔</h1>
			<!-- <img src="/img/green_icon.png"/> -->
		</div>

		<div>
			<md-button class="md-raised md-primary intro-btn" ng-click="loginOauth('facebook')">페이스북으로 가입하기</md-button>
		</div>
		<br/>
		<div>
			<md-button class="md-raised md-primary intro-btn" md-theme="green" ui-sref="login">로그인</md-button>
		</div>
		<br/>
		<div>
			<md-button class="md-raised md-primary intro-btn" md-theme="blue-grey" ui-sref="signup">이메일 가입</md-button>
		</div>		
	</div>
</md-content>