<!-- <fa-header-footer-layout>    
		<fa-modifier fa-size="[undefined, undefined]" fa-translate="[0, 0, 0]">
		  <fa-scroll-view fa-pipe-from="eventHandler">
		  	<fa-view>
		  		<fa-modifier fa-size="[undefined, getScrollContentHeight('scroll-content-letter-new')]">
		  			<fa-surface fa-pipe-to="eventHandler">
		  				<div id="scroll-content-letter-new">
		  					<form name="newStoryForm" ng-submit="createNewStory(newStoryForm)" novalidate style="margin:10px;">
			            <textarea class="form-control" ng-model="newStory.text" placeholder="전하고 싶은 이야기.." rows="10" style="resize: none;" ng-required="true"/>
			            <br/>

			            <span us-spinner spinner-key="spinner-1"></span>
			            <div ng-if="fileAdded">
			            	<img ng-src="{{hostUrl + newStory.file.url}}" class="img-center img-responsive"> 
			            	<br/>
			            </div>
			            
			            <div class="btn-group btn-group-justified">
									  <div class="btn-group">
									    <button type="button" ng-click="addPhoto('CAMERA')" class="btn btn-default" ng-disabled="fileUploading||uploading">사진 촬영</button>
									  </div>
									  <div class="btn-group">
									    <button type="button" ng-click="addPhoto('GALLERY')" class="btn btn-default" ng-disabled="fileUploading||uploading">갤러리 업로드</button>
									  </div>
									</div>
									<br/>

			            <div class="btn-group btn-group-justified">
									  <div class="btn-group">
									    <button type="submit" class="btn btn-success" ng-disabled="fileUploading||newStoryForm.$invalid||uploading">편지 보내기</button>
									  </div>
									</div>
			          </form>
		  				</div>
		  			</fa-surface>
		  		</fa-modifier>
		  	</fa-view>
			</fa-scroll-view>
		</fa-modifier>

</fa-header-footer-layout> -->
<md-toolbar md-theme="green" class="toolbar">
  <h3 class="md-toolbar-tools">
    <span>
    	<i class="fa fa-chevron-left" ui-sref="letter"></i> 
    	<span> 편지 쓰기</span>
    </span>
  </h3>
</md-toolbar>

<md-content class="toolbar-padding" md-theme="green">
  <div ng-if="memorial.public||!role.isGuest">

    <form name="newStoryForm" ng-submit="createNewStory(newStoryForm)" novalidate style="padding: 20px;" md-theme="green">
      <textarea class="custom-textarea" ng-model="newStory.text" placeholder="전하고 싶은 이야기.." rows="10" style="resize: none;" ng-required="true"></textarea>
      <br/><br/><br/>
     
      <div ng-show="fileUploading" layout="row" layout-sm="column" layout-align="space-around center">
	      <md-progress-circular md-mode="indeterminate"></md-progress-circular>
	    </div>

      <div ng-if="fileAdded">
      	<img ng-src="{{hostUrl + newStory.file.url}}" class="img-center img-responsive"> 
      	<br/>
      </div>
      
      <div layout="row" layout-align="space-around center" md-theme="default">
			  <div>
			  	<md-button class="md-raised md-primary" style="width:150px" ng-click="addPhoto('CAMERA')" ng-disabled="fileUploading||uploading">사진 촬영</md-button>
			  </div>
			  <div>
			  	<md-button class="md-raised md-primary" style="width:150px" ng-click="addPhoto('GALLERY')" ng-disabled="fileUploading||uploading">갤러리 업로드</md-button>
			  </div>
			</div>
			<br/><br/><br/>

			<div layout="row" layout-align="space-around center">
			  <div>
			  	<md-button class="md-raised md-primary" style="width:150px" type="submit" ng-disabled="fileUploading||newStoryForm.$invalid||uploading">
			  		편지 보내기
			  	</md-button>
			  </div>
			</div>
    </form>
  </div>
  <div ng-if="!memorial.public&&role.isGuest">
    <div ng-include="'templates/block.html'"></div>
  </div>
</md-content>







