<!-- <fa-header-footer-layout>
    <fa-modifier fa-size="[undefined, 90]" fa-translate="[0, 0, 1]">
	    <fa-view>
	      <fa-surface>
      	  <div ng-include="'modules/core/views/navbar.html'"></div>
        </fa-surface>
	    </fa-view>
    </fa-modifier>
    
		<fa-modifier fa-size="[undefined, undefined]" fa-translate="[0, 0, 0]">
		  <fa-scroll-view fa-pipe-from="eventHandler" fa-options="scrollOption">
		  	<fa-view ng-if="memorial.public||!role.isGuest" ng-repeat="storyKey in storiesArray" fa-index="$index">
		  		<fa-modifier fa-size="[undefined,{{storiesObject[storyKey].file?470:160}}]">
		  			<fa-modifier fa-size="[undefined,50]" >
							<fa-surface fa-pipe-to="eventHandler" ng-click="goToDetail(storyKey)">
								<div class="media" style="margin-left:10px;">
								  <a class="media-left">
								    <img ng-src="{{users[storiesObject[storyKey].ref_user].profile.file.url}}" style="width:48px;height:48px;"/>
								  </a>
								  <div class="media-body" style="width:100%;">
								    <h5 class="media-heading">
								    	<a>{{users[storiesObject[storyKey].ref_user].profile.name}}</a>
								    </h5> 
								    <span class="text-muted text-small"><em>{{storiesObject[storyKey].fromNow}}</em></span>
								  </div>
								</div>
							</fa-surface>
						</fa-modifier>
						<fa-modifier fa-size="[300,300]" fa-align="[0.5,0]" fa-origin="[0.5,0]" fa-translate="[0, 60, 0]" ng-if="storiesObject[storyKey].file">
							<fa-image-surface fa-image-url="{{hostUrl + storiesObject[storyKey].file.url}}" fa-pipe-to="eventHandler" ng-click="goToDetail(storyKey)">
							</fa-image-surface>
						</fa-modifier>
						<fa-modifier fa-size="[undefined,50]" fa-translate="[10, {{storiesObject[storyKey].file?370:60}}, 0]">
							<fa-surface fa-pipe-to="eventHandler" ng-click="goToDetail(storyKey)">
								{{storiesObject[storyKey].text|limitTo:30}} <span ng-if="storiesObject[storyKey].text.length>30">...</span>
							</fa-surface>
						</fa-modifier>
						<fa-modifier fa-size="[undefined,50]" fa-translate="[0, {{storiesObject[storyKey].file?420:110}}, 0]">
							<fa-surface fa-pipe-to="eventHandler" ng-click="goToDetail(storyKey)">
								<div class="pull-right" style="padding-right:10px;">
	  							<button class="btn btn-xs btn-success" type="button">
									  댓글 <span class="badge">{{commentSize(storyKey)}}</span>
									</button>
	  						</div>
							</fa-surface>
						</fa-modifier>
		  		</fa-modifier>
		  	</fa-view>

		  	<fa-view ng-if="!memorial.public&&role.isGuest">
		  		<fa-modifier>
						<fa-surface >
					  	<div ng-include="'modules/core/views/block.html'"></div>
					  </fa-surface>
					</fa-modifier>
		  	</fa-view>

			</fa-scroll-view>
		</fa-modifier>
	 
	 	<fa-modifier ng-if="!role.isGuest" fa-size="[undefined, 32]" fa-translate="[0, 0, 1]">
	    <fa-view>
	    	<fa-surface fa-background-color="'white'">
			    <div class="btn-group btn-group-justified">
					  <div class="btn-group">
					    <a ui-sref="letter_new" class="btn btn-success">편지 쓰기</a>
					  </div>
					</div>
				</fa-surface>
		  </fa-view>
	  </fa-modifier>
</fa-header-footer-layout> -->

<a ui-sref="letter_new" class="btn btn-success">편지 쓰기</a>
