<div ng-controller="LoginCtrl" layout="column" layout-fill>
  <md-toolbar class="toolbar-color-1">
    <div class="md-toolbar-tools">
    	<a ui-sref="intro"><i class="fa fa-2x fa-angle-left"></i></a>
      <h3>
        <span>로그인</span>
      </h3>
    </div>
  </md-toolbar>
	<md-content md-theme="green">
    <form class="form" name="loginForm" ng-submit="login(loginForm)" novalidate style="padding: 20px;">
      <md-text-float type='email' label="이메일" ng-model="loginUser.email" ng-required="true"> </md-text-float>
      <p class="error-sm" ng-show="loginForm.email.$error.email">
				유효한 이메일 주소가 아닙니다.
			</p>
      <md-text-float type='password' label="비밀번호" ng-model="loginUser.password" class="long" ng-required="true"> </md-text-float>
		  <p class="error-sm" ng-show="loginForm.password.$error.minlength">
        암호는 3글자 이상이여야 합니다.
      </p>
		  <p class="error-sm" ng-show="loginForm.email.$error.required && loginForm.password.$error.required && loginSubmitted">
         이메일 주소와 암호를 넣어주세요.
      </p>
      <p class="error-sm" ng-show="loginErrors">{{loginErrors}}</p>
			<md-button class="md-primary md-raised" md-theme="green" type="submit" ng-disabled="loginForm.$invalid">로그인</md-button>
    </form>
	  <div ng-show="inProgress" layout="row" layout-sm="column" layout-align="space-around center">
      <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>
		<div style="padding: 20px;" class="row">
			<label style="font-size:80%;"><a style="text-decoration:none;" ui-sref="passwd_reset">비밀번호가 기억나지 않으신가요?</a></label>
		</div>
  </md-content>
</div>
