
<div ng-include="'templates/sidemenu_left.html'" ng-controller="SideMenuLeftCtrl"></div>
<md-toolbar class="toolbar green-color-1">
  <h3 class="md-toolbar-tools">
    <span><i class="fa fa-align-justify" ng-click="openLeftMenu()"></i> 멤버</span>
  </h3>
</md-toolbar>

<md-content class="toolbar-padding" style="padding: 10px;">
  <section>
  	<md-item>
	    <md-item-content>
	      <div class="md-tile-left">
	        <img ng-src="{{hostUrl + '/' + user.profile.file.url}}" class="thumbnail img-circle">
	      </div>
	      <div class="md-tile-content">
	        <h3>멤버 초대하기</h3>
	      </div>
	    </md-item-content>
	  </md-item>
  </section>
  <md-divider></md-divider>
  <section ng-if="getWaitingsCnt()>0">
    <md-subheader class="md-primary">승인 대기 중</md-subheader>
  	<md-divider></md-divider>
    <md-list layout="column">
	  	<md-item ng-repeat="(uid, member) in waitings">
		    <md-item-content>
		      <div class="md-tile-left">
		        <img ng-src="{{users[uid].profile.file.url}}" class="thumbnail img-circle">
		      </div>
		      <div class="md-tile-content">
		        <h4>{{users[member.uid].profile.name}}</h4>
		        <p>{{users[member.uid].email}}</p>
						<md-button class="right md-raised">멤버 승인하기</md-button>
		      </div>
		  	</md-item-content>
		    <md-divider></md-divider>
		  </md-item>
		</md-list>
	</section>
	<md-divider></md-divider>
	<section>
    <md-subheader class="md-primary">멤버 <span class="badge"> {{getMembersCnt() + 1}}</span></md-subheader>
		<md-divider></md-divider>
    <md-list layout="column">
	  	<md-item ng-repeat="(uid, member) in members">
		    <md-item-content>
		      <div class="md-tile-left">
		        <img ng-src="{{users[uid].profile.file.url}}" class="thumbnail img-circle">
		      </div>
		      <div class="md-tile-content">
		        <h4>{{users[member.uid].profile.name}}</h4>
		        <p>{{users[member.uid].profile.email}}</p>
						<!-- <md-button ng-if="leader.uid == user.uid" class="right md-raised" ng-click="removeMember(uid, false)" >탈퇴시키기</md-button> -->
						<md-button ng-if="leader.uid == user.uid" class="right md-raised" ng-click="removeMember($event, uid, false)" >탈퇴시키기</md-button>
						<!-- <md-button ng-if="uid == user.uid" class="right md-raised" ng-click="removeMember(uid, true)" >탈퇴하기</md-button> -->
						<md-button ng-if="uid == user.uid" class="right md-raised" ng-click="removeMember($event, uid, true)" >탈퇴하기</md-button>
		      </div>
		  	</md-item-content>
			  <md-divider></md-divider>
		  </md-item>
		</md-list>
	</section>

  <div ng-if="!memorial.public&&role.isGuest">
    <div ng-include="'templates/block.html'"></div>
  </div>
</md-content>
<!-- <div class="after-tabs-area" layout="row" layout-sm="column" layout-margin layout-align="left center">
    <md-text-float type="number" label="Selected Index" ng-model="data.selectedIndex"></md-text-float>
    <div flex></div>
    <span>Item Two: </span>
    <md-checkbox ng-model="data.secondLocked" aria-label="Disabled">
      Disabled
    </md-checkbox>
</div>


  <fa-modifier fa-size="[undefined, 90]" fa-translate="[0, 0, 1]">
    <fa-view>
      <fa-surface>
      	  <div ng-include="'modules/core/views/navbar.html'"></div>
      </fa-surface>
    </fa-view>
  </fa-modifier>
	<fa-modifier fa-translate="[0, 0, 0]">
	  <fa-scroll-view fa-pipe-from="eventHandler">
	  	<fa-view>
		  	<fa-modifier ng-if="memorial.public||!role.isGuest" fa-size="[undefined, getScrollContentHeight('scroll-content-member')]">
	  			<fa-surface fa-pipe-to="eventHandler">
		  			<div id="scroll-content-member">
		  				
							<div class="block-title" ng-if="getWaitingsCnt()>0">
					      <h5>가입 승인 대기 <span class="badge"> {{getWaitingsCnt()}}</span></h4>
					    </div>
		  				
		  				<div class="media" style="margin-left:10px;margin-right:10px;" ng-repeat="(uid, member) in waitings">
						  	<div class="media-left" >
		      				<img ng-src="{{users[uid].profile.file.url}}" class="img-responsive" style="width:150px;height:150px"/>
		      			</div>
		      			<div class="media-body">
			      			<h5 class="media-heading">
			      				<a>{{users[member.uid].profile.name}}</a>
			      			</h5>
		      				<button ng-if="leader.uid == user.uid" type="button" class="btn btn-success" ng-click="moveMember(uid)">가입 승인하기</button>
			          </div>
		        	</div>

							<div style="margin-left:10px;margin-right:10px;">
		      	  	<div class="block-title">
					      	<h5>멤버 <span class="badge"> {{getMembersCnt() + 1}}</span></h4>
					    	</div>
			  				
			  				<div class="media">
				  				<div class="media-left">
						  	 		<img ng-src="{{users[leader.uid].profile.file.url}}" class="img-responsive" style="width:150px;height:150px"/>
						  	 	</div>
						  	 	<div class="media-body">
						  	 		<h5 class="media-heading">
						  	 			<a>{{users[leader.uid].profile.name}}</a>
								    </h5>
								    <span class="text-muted text-small"><em>리더</em></span>
								  </div>
								</div>

			  				<div class="media" ng-repeat="(uid, member) in members">
							  	<div class="media-left">
			      				<img ng-src="{{users[uid].profile.file.url}}" class="img-responsive" style="width:150px;height:150px"/>
			      			</div>
			      			<div class="media-body" >
				      			<h5 class="media-heading">
				      				<a>{{users[member.uid].profile.name}}</a>
				      			</h5>
			      				<button ng-if="leader.uid == user.uid" type="button" class="btn btn-success" ng-click="removeMember(uid, false)">탈퇴 시키기</button>
				          	<button ng-if="uid == user.uid" type="button" class="btn btn-success" ng-click="removeMember(uid, true)">탈퇴하기</button>
				          </div>
			        	</div>
			        </div> 
			      </div>
		  		</fa-surface>
		  	</fa-modifier>
		  	<fa-modifier ng-if="!memorial.public&&role.isGuest">
					<fa-surface >
				  	<div ng-include="'modules/core/views/block.html'"></div>
				  </fa-surface>
				</fa-modifier>
		  </fa-view>
	</fa-modifier> -->