<div ng-controller="LoginCtrl" layout="column" layout-fill>
  <md-toolbar class="toolbar-color-1">
    <div class="md-toolbar-tools">
    	<a ui-sref="login"><i class="fa fa-2x fa-angle-left"></i></a>
      <h3>
        <span>비밀번호 초기화</span>
      </h3>
    </div>
  </md-toolbar>
	<div layout="column" md-theme="green">
		<div style="padding: 10px 10px 10px 10px;">
			<p style="text-align:center;"><b>비밀번호</b>를 잊어버리셨나요?<br/>
			<span style="font-size:80%;">가입하신 이메일을 입력하시면,<br/>임시 비밀번호를 보내드립니다.</span>
			</p>
		</div>
		<div>
	    <form class="form" name="passwdForm" ng-submit="passwdReset(passwdForm)" novalidate style="padding: 20px;">
	      <md-text-float type='email' label="이메일" ng-model="passwd.email" ng-required="true"> </md-text-float>
	      <p class="item assertive error-sm" ng-show="passwdForm.email.$error.email">
					유효한 이메일 주소가 아닙니다.
				</p>
	      <p class="item assertive error-sm" ng-show="passwdErrors">{{passwdErrors}}</p>
				<md-button class="md-primary md-raised" md-theme="green" type="submit" ng-disabled="passwdForm.$invalid">임시 비밀번호 설정 메일 받기</md-button>
	    </form>
		  <div ng-show="inProgress" layout="row" layout-sm="column" layout-align="space-around center">
	      <md-progress-circular md-mode="indeterminate"></md-progress-circular>
	    </div>
	  </div>
  </div>
</div>


