<ion-header-bar align-title="center" class="bar-light">
  <button class="button button-icon icon ion-chevron-left" ui-sref="login"></button>
  <h1 class="title">비밀번호 초기화</h1>
</ion-header-bar>
<ion-content>
	<div class="row">
		<div class="col">
			비밀번호를 잊어버리셨나요? <p>
			기존에 가입하신 이메일을 입력하시면, 비밀번호 변경메일을 발송해드립니다.
		</div>
	</div>

	<div class="row">
		<div class="col">
			<form class="form" name="passwdForm" ng-submit="passwdReset(passwdForm)" novalidate>
				<div class="list">
				  <label class="item item-input">
				    <span class="input-label">이메일</span>
				    <input type="email" name="email" placeholder="email을 입력하세요" class="form-control" ng-model="passwd.email" ng-required="true">
				  </label>
				  <p class="item assertive" ng-show="passwdForm.email.$error.email">
			      유효한 이메일 주소가 아닙니다.
			    </p>
			    <p class="item assertive" ng-show="passwdErrors">
			       {{passwdErrors}}
			    </p>
			  </div>
		    
		    <button class="button button-block button-balanced" type="submit" ng-disabled="passwdForm.$invalid">
				  비밀번호 변경 메일 받기
				</button>
			</form>
		</div>
	</div>
</ion-content>


