<ion-side-menu side="left" ng-controller="SideMenuLeftCtrl">
  <header class="bar bar-header bar-balanced">
    <h1 class="title">메뉴</h1>
  </header>
  <ion-content class="has-header">
    <ion-list>
      <ion-item nav-clear menu-close ui-sref="profile" ng-class="{active: isActive('/profile')}"> 프로필 </ion-item>
      <ion-item nav-clear menu-close ui-sref="story" ng-class="{active: isActive('/story')}"> 이야기 </ion-item>
      <ion-item nav-clear menu-close ui-sref="letter" ng-class="{active: isActive('/letter')}"> 편지 </ion-item>
      <ion-item nav-clear menu-close ui-sref="member" ng-class="{active: isActive('/member')}"> 멤버 </ion-item>
      <div class="item item-divider">
        <i class="ion-gear-b"></i>
      </div>
      <ion-item nav-clear menu-close ui-sref="member" ng-class="{active: isActive('/member')}"> 설정 </ion-item>
      <ion-item nav-clear menu-close ui-sref="member" ng-class="{active: isActive('/member')}"> 로그아웃 </ion-item>
    </ion-list>
  </ion-content>
</ion-side-menu>