<!-- <fa-scroll-view fa-pipe-from="eventHandler">
    <fa-view fa-index="1">
      <fa-modifier fa-size="[undefined, undefined]">
      
         <fa-surface fa-pipe-to="eventHandler">
			    <div class="login-block">
			      <div class="well">
			        <span style="color:gray;font-size:14px;">도래솔에 처음이세요?</span>
			        <form class="form" name="signupForm" ng-submit="signup(signupForm)" novalidate>
			          <div class="form-group" ng-class="{ 'has-success': signupForm.email.$valid && signupSubmitted,
			                                              'has-error': signupForm.email.$invalid && signupSubmitted }">
			            <input type="email" name="email" placeholder="email을 입력하세요" class="form-control" ng-model="signupUser.email" ng-required="true"/>
			            <p class="help-block" ng-show="signupForm.email.$error.email">
			              유효한 이메일 주소가 아닙니다.
			            </p>
			          </div>
			          <div ng-class="{ 'has-success': signupForm.password.$valid && signupSubmitted,
			                                              'has-error': signupForm.password.$invalid && signupSubmitted }">
			            <input type="password" placeholder="password" name="password" class="form-control" ng-model="signupUser.password" ng-minlength="3" ng-required="true"/>
			            <p class="help-block"
			               ng-show="(signupForm.password.$error.minlength || signupForm.password.$error.required)">
			              암호는 3글자 이상이여야 합니다.
			            </p>
			          </div>
		            <button class="btn btn-success btn-block btn-login" type="submit" ng-disabled="signupForm.$invalid">
		              가입하기
		            </button>
		            <div class="form-group has-error">
	                <p class="help-block" ng-show="signupForm.email.$error.required && signupForm.password.$error.required && signupSubmitted">
	                   이메일 주소와 암호를 넣어주세요.
	                </p>
	                <p class="help-block">{{signupErrors}}</p>
	              </div>
			        </form>
			      </div>
			    </div>
         </fa-surface>
        </fa-modifier>
    </fa-view>
</fa-scroll-view>
 -->

<ion-header-bar align-title="center" class="bar-light">
  <button class="button button-icon icon ion-chevron-left" ui-sref="intro"></button>
  <h1 class="title">회원가입</h1>
</ion-header-bar>
<ion-content>
	<div class="row">
		<div class="col">
			<form class="form" name="signupForm" ng-submit="signup(signupForm)" novalidate>
				<div class="list">
				  <label class="item item-input">
				    <span class="input-label">이메일</span>
				     <input type="email" name="email" placeholder="email을 입력하세요" class="form-control" ng-model="signupUser.email" ng-required="true"/>
				  </label>
				  <p class="item assertive" ng-show="signupForm.email.$error.email">
			      유효한 이메일 주소가 아닙니다.
			    </p>
				  <label class="item item-input">
				    <span class="input-label">비밀번호</span>
				    <input type="password" placeholder="password" name="password" class="form-control" ng-model="signupUser.password" ng-minlength="3" ng-required="true"/>
				  </label>
				  <p class="item assertive"
             ng-show="signupForm.password.$error.minlength">
            암호는 3글자 이상이여야 합니다.
          </p>
				  <p class="item assertive" ng-show="signupForm.email.$error.required && signupForm.password.$error.required && signupSubmitted">
             이메일 주소와 암호를 넣어주세요.
          </p>
          <p class="item assertive" ng-show="signupErrors">{{signupErrors}}</p>
			  </div>
		    
		    <button class="button button-block button-balanced" type="submit" ng-disabled="signupForm.$invalid">
				  가입하기
				</button>
			</form>
		</div>
	</div>
	<div class="row">
		<div class="col">
			가입과 함께 약관에 동의하신 것으로 간주합니다. <a ui-sref="term">약관 보기</a>
		</div>
	</div>
</ion-content>


