<div ng-include="'templates/sidemenu_left.html'" ng-controller="SideMenuLeftCtrl"></div>
<md-toolbar md-theme="green" class="toolbar">
  <h3 class="md-toolbar-tools">
    <span><i class="fa fa-align-justify" ng-click="openLeftMenu()"></i> 이야기</span>
  </h3>
</md-toolbar>

<md-content class="toolbar-padding">
  <div ng-if="memorial.public||!role.isGuest">
    <md-card ng-repeat="story in storiesObject" ng-click="goToDetail(story.$id)" id="{{story.$id}}">
     <img ng-src="{{hostUrl + story.file.url}}" class="img-center">
     <!-- <div class="comment-count pull-right">
      <i class="fa fa-comment"></i> {{objectSize(story.comments)}}
     </div>
     <md-list>
        <md-item>
          <md-item-content>
            <div class="md-tile-left">
                <img ng-src="{{users[story.ref_user].profile.file.url}}" class="thumbnail">
            </div>
            <div class="md-tile-content">
              <h3>{{users[story.ref_user].profile.name}}</h3>
              <h4>{{story.updatedAt}} 수정</h4>
            </div>
          </md-item-content>
        </md-item>
      </md-list> -->
      <div class="author pull-left">
        <span class="text-muted text-small"><em>{{users[story.ref_user].profile.name}}</em></span>
      </div> 
      <div class="comment-count pull-right">
        <i class="fa fa-comment"></i> {{objectSize(story.comments)}}
      </div>
      <div class="clear"></div>
     <p>
       {{story.text.text|limitTo:100}} <span ng-if="story.text.text.length>100">...</span>
     </p>
    </md-card>
  </div>
  <div ng-if="!memorial.public&&role.isGuest">
    <div ng-include="'templates/block.html'"></div>
  </div>
</md-content>


