<div layout="column" layout-fill>
  <md-toolbar class="green-color-1">
    <div class="md-toolbar-tools">
    	<a ui-sref="signup"><i class="fa fa-2x fa-angle-left"></i></a>
      <h3>
        <span>약관</span>
      </h3>
    </div>
  </md-toolbar>
  <div layout="column" layout-margin layout-fill layout-padding>
    <div style="padding: 10px 10px 10px 10px;">
      <b>서비스 이용 약관 </b>
    </div>
    <div style="padding: 0px 10px 10px 10px;font-size:80%;">
      <p style="background-color:LightGray;">
      본 약관은 2014년 11월 1일부터 적용됩니다.
      제 1조 (목적)
      이 약관은 (주)허밍탑(이하 “회사"라고 함)가 디아비스를 통해 제공하는 모든 제반 서비스의 이용과 관련하여 회사와 이용자 간의 권리와 의무 및 필요한 제반 사항을 정하는데 그 목적이 있습니다.

      제 2조 (용어의 정의)
      동그1. 이 약관에서 사용하는 용어의 정의는 다음과 같습니다.

      본 약관은 2014년 11월 1일부터 적용됩니다.
       

      제 1조 (목적)
      이 약관은 (주)허밍탑(이하 “회사"라고 함)가 디아비스를 통해 제공하는 모든 제반 서비스의 이용과 관련하여 회사와 이용자 간의 권리와 의무 및 필요한 제반 사항을 정하는데 그 목적이 있습니다.

      제 2조 (용어의 정의)
      동그1. 이 약관에서 사용하는 용어의 정의는 다음과 같습니다.


      본 약관은 2014년 11월 1일부터 적용됩니다.
       

      제 1조 (목적)
      이 약관은 (주)허밍탑(이하 “회사"라고 함)가 디아비스를 통해 제공하는 모든 제반 서비스의 이용과 관련하여 회사와 이용자 간의 권리와 의무 및 필요한 제반 사항을 정하는데 그 목적이 있습니다.

      제 2조 (용어의 정의)
      동그1. 이 약관에서 사용하는 용어의 정의는 다음과 같습니다.


      본 약관은 2014년 11월 1일부터 적용됩니다.
       

      제 1조 (목적)
      이 약관은 (주)허밍탑(이하 “회사"라고 함)가 디아비스를 통해 제공하는 모든 제반 서비스의 이용과 관련하여 회사와 이용자 간의 권리와 의무 및 필요한 제반 사항을 정하는데 그 목적이 있습니다.

      제 2조 (용어의 정의)
      동그1. 이 약관에서 사용하는 용어의 정의는 다음과 같습니다.


      본 약관은 2014년 11월 1일부터 적용됩니다.
       

      제 1조 (목적)
      이 약관은 (주)허밍탑(이하 “회사"라고 함)가 디아비스를 통해 제공하는 모든 제반 서비스의 이용과 관련하여 회사와 이용자 간의 권리와 의무 및 필요한 제반 사항을 정하는데 그 목적이 있습니다.

      제 2조 (용어의 정의)
      동그1. 이 약관에서 사용하는 용어의 정의는 다음과 같습니다.

      제 1조 (목적)
      이 약관은 (주)허밍탑(이하 “회사"라고 함)가 디아비스를 통해 제공하는 모든 제반 서비스의 이용과 관련하여 회사와 이용자 간의 권리와 의무 및 필요한 제반 사항을 정하는데 그 목적이 있습니다.

      제 2조 (용어의 정의)
      동그1. 이 약관에서 사용하는 용어의 정의는 다음과 같습니다.


      본 약관은 2014년 11월 1일부터 적용됩니다.
       
      </p>
    </div>
  </div>

</div>
