.full-screen{
	position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  height:100%;
  width:100%;
}

.img-center{
  margin:0 auto;
  width: 100%;
}

.thumbnail {
  width: 48px;
  height: 48px; 
}

.text-border{
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.clear{
	clear:both;
}