.intro {
  background-image: url("/img/intro.png");
  background-repeat: repeat-y;
  background-size: 100%;
  background-position: center;
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  height: 100%; }
  .intro .title {
    padding-top: 100px;
    color: red; }
