.author {
  /*position: relative;
	color: white;
	top: -25px;
	left: 5px;
	font-style: italic;*/
  width: 60%; }

.comment-count {
  /*position: relative;
	color: white;
	top: -25px;
	right: 5px;	*/
  width: 40%;
  text-align: right; }
